<div class="flex">
    <% %w[all active completed].each do |state| %>
      <%= link_to "#{state.humanize} (#{counts.fetch(state.to_sym)})", todos_path(state: state), class: ['px-4 py-2', ('bg-blue-500 text-white' if state == params[:state])] %>
    <% end %>
  </div>
